<div class="crew-div">
  <div class="home-container">
    <img src="../../assets/shared/logo.svg" alt="logo" class="logo">
    <div class="horizontal-line"></div>
    <nav>
      <ul>
        <li>
          <a routerLink="/">00 Home</a>
        </li>
        <li>
          <a routerLink="/destination">01 Destination</a>
        </li>
        <li>
          <a routerLink="/crew">02 Crew</a>
        </li>
        <li>
          <a routerLink="/technology">03 Technology</a>
        </li>
      </ul>
    </nav>
  </div>

</div>


