<div class="technology-div">
  <div class="home-container">
    <img src="../../assets/shared/logo.svg" alt="logo" class="logo">
    <div class="horizontal-line"></div>
    <nav>
      <ul>
        <li>
          <a routerLink="/" class="a-o"><span class="span-o">00</span> Home</a>
        </li>
        <li>
          <a routerLink="/destination" class="a-o"><span class="span-o">01</span> Destination</a>
        </li>
        <li>
          <a routerLink="/crew" class="a-o"><span class="span-o">02</span> Crew</a>
        </li>
        <li>
          <a routerLink="/technology" class="a-o"><span class="span-o">03</span> Technology</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="tech-container">
    <div class="tech-body">
      <h2 class="tech-h2"><span class="tech-span">02</span>Meet your tech</h2>

       <!-- Technology Information -->
       <div class="tech-details" *ngIf="selectedTechnology">
        <h2 class="tech-name">{{selectedTechnology.name}}</h2>
        <p class="tech-bio">{{selectedTechnology.description}}</p>
      </div>

      <!-- Navigation Circles -->
      <div class="circle-navigation">
        <div class="circle"
          *ngFor="let crew of technologyJson; let i = index"
          [class.active]="activeCircle === i + 1"
          (click)="selectCircle(i + 1)">
        </div>
      </div>
    </div>

    <!-- Technology Image -->
    <div class="tech-body" *ngIf="selectedTechnology">
      <img [src]="selectedTechnology.images.jpg" [alt]="selectedTechnology.name" class="tech-img">
    </div>

  </div>

</div>


