@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-div{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/home/background-home-desktop.jpg');
  background-size: cover;
  background-position: center;
}

.home-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  width: 100%;
}

.logo {
  margin-left: 55px;
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/nav-blur.png');
  height: 70px;

}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  letter-spacing: 3px;
  font-family: "Barlow Condensed", serif;
  padding-right: 100px;
  padding-left: 75px;
}

nav li {
  position: relative;
  font-size: 12px;
  color: white;
  cursor: pointer;

}

nav li::after {
  content: ''; /* Creates the line */
  position: absolute;
  left: 0;
  bottom: 0; /* Initially at the bottom of the text */
  width: 0; /* Line starts with zero width */
  height: 2px; /* Line thickness */
  background-color: white; /* Line color */
  transition: all 0.2s ease; /* Smooth animation */
}

nav li:hover::after {
  width: 100%; /* Expands the line on hover */
  bottom: -28px; /* Moves the line downward */
}

.horizontal-line {
  position: absolute;
  top: 75px;
  left: 290px;
  transform: translate(-40%, -40%); /* Adjust alignment properly */
  width: 370px;
  height: 1px;
  background-color: white;
  z-index: 1;
  opacity: 0.3;
}

.home2-div{
  color: white;
  margin-top: 100px;
  margin-left: 150px;
  width: 300px;
}

.home2-h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 4.7px;
  font-weight: 300;
  text-transform: uppercase;
}

.home2-h1 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 10px;
}

.home2-p {
  font-family: "Barlow", serif;
  font-size: 10px;
  opacity: 0.96;
  font-weight: 100;
  line-height: 28px;
}

.home2-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home2-div2 {
  background-color: white;
  width: 200px;
  border-radius: 100%;
  height: 100%;
}

// .h1-exp {
//   font-family: "Bellefair";
//   text-transform: uppercase;
//   color: 0B0D17;
//   font-size: 16px;
// }
